html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 60%;
}

p {
  font-size: 2em;
  padding-left: 0.5em;
}

#social-media-links a {
  font-size: 5em;
  padding: 0em 0.4em;
  color: black;
}

.fa-instagram {
  color: #AB1883;
}

.fa-twitter-square {
  color: #1DA1F2;
}

.fa-facebook-official {
  color: #3B5998;
}

#social-media-links a:hover {
  background: black;
}

#social-media-links a:hover i {
  color: white;
}

.email-signups {
  padding-left: 0.5em;
}

.email-signups input, .email-signups button {
  font-size: 1.5em;
  width: 50%;
  border-radius: 0.2em;
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
}

.email-signups button {
  background: #323232;
  color: white;
  border: none;
  cursor: pointer;
}